# Practical Session 3: Lists, Tuples, Sets & Dictionaries

#### 1. List Manipulation

Create a list temperatures representing daily temperatures (°C) for a week: 23, 25, 21, 20, 22.
Then:
- Add a temperature reading for a new day, 24.
- Insert a missing temperature 19 at the second position.
- Remove the temperature 20.
- Print the final list and its length.

#### 2. List indexing and slicing

Given the list of recorded pH values in an experiment:

In [ ]:
ph_values = [7.2, 7.4, 6.8, 7.0, 7.1, 6.9]

- Print the first pH value
- Print the last three pH values using slicing
- Print the pH values in reverse order using slicing

#### 3. Nested Lists

Create a 3x3 matrix using nested lists where each element is a list of [R,G,B] colour values (numbers from 0 to 255).
Then:
1. Print the green value of the pixel in the second row, first column
2. Change the blue value of the pixel in the first row, second column
3. Print the updated matrix

#### 4. Tuples

You have tuples representing the opening and closing prices of a stock on three days:

In [ ]:
day1 = (135.5, 137.0)  # (opening price, closing price)
day2 = (136.0, 135.0)
day3 = (134.5, 136.5)

1. Unpack the opening and closing prices from each day and print statements like:
"Day 1 opened at 135.5 and closed at 137.0."

2. Create a tuple containing the daily price differences (closing - opening) for each day.

3. Calculate the total price change over the three days by summing these differences.

4. Create a new tuple adding day 4’s prices (137.5, 138.0) to the existing data.

#### 5. Sets

Create two sets:

In [ ]:
observed_morning = {"sparrow", "robin", "finch"}
observed_afternoon = {"finch", "cardinal", "robin"}

1. Print all the birds observed in the day.

2. Print the birds that were observed in both the morning and evening. 

3. Print only the species observed in the morning.

4. Add a blue jay to the observed birds in the morning

5. Remove robin from the birds observed in the afternoon

6. Check if cardinal was observed in the morning

#### 6. Dictionaries

Create a dictionary called book, which contains the title, author and year of your favourite book. 

Then:

1. Print the author's name

2. Add a new key "Checked out" and set it to a boolean

3. Change the year to this year, there's been a reprint

4. Print all the keys and values in an f-string

5. Now with your book dictionry, make a nested library dictionary where your book is one of 3 books (with 2 other books of your choice). Each book is identified with a barcode number. 

6. Using the library nested dictionary, print the author and title of each book, and if it's checked out.

7. Add a genre catagory for each book, with multiple genres contained in a list

8. Someone stole a book, remove the second book for your library.

#### 7. Converting and manipulating collections

You're given information about a company in various collection formats

In [ ]:
employees = [("Anna", "Sales"), ("Ben", "IT"), ("Cara", "Sales")]

departments = {"Sales", "IT", "HR"}

dept_employees = {
    "Sales": ["Anna", "Cara"],
    "IT": ["Ben"],
    "HR": []
}

1. Create a tuple of all employee names from the employees list.

2. Convert that tuple of names into a set to get unique employee names.

3. Add a new employee `("David", "HR")` to employees list, the names tuple, the unique names set, and update `dept_employees` accordingly (add "David" to "HR" list).

4. Remove `"Cara"` from employees list, names tuple, unique names set, and update `dept_employees` (remove from "Sales").

5. Print the length of `employees` list.