# Practical Session 3: Lists, Tuples, Sets & Dictionaries

#### 1. List Manipulation

Create a list temperatures representing daily temperatures (°C) for a week: 23, 25, 21, 20, 22.
Then:
- Add a temperature reading for a new day, 24.
- Insert a missing temperature 19 at the second position.
- Remove the temperature 20.
- Print the final list and its length.

In [1]:
temperatures = [23, 25, 21, 20, 22]

temperatures.append(24)

temperatures.insert(1, 19)

temperatures.remove(20)

print(temperatures)
print(len(temperatures))

[23, 19, 25, 21, 22, 24]
6

#### 2. List indexing and slicing

Given the list of recorded pH values in an experiment:

In [2]:
ph_values = [7.2, 7.4, 6.8, 7.0, 7.1, 6.9]

- Print the first pH value
- Print the last three pH values using slicing
- Print the pH values in reverse order using slicing

In [6]:
print(ph_values[0])
print(ph_values[-3:])
print(ph_values[::-1])

7.2
[7.0, 7.1, 6.9]
[6.9, 7.1, 7.0, 6.8, 7.4, 7.2]

#### 3. Nested Lists

Create a 3x3 matrix using nested lists where each element is a list of [R,G,B] colour values (numbers from 0 to 255).
Then:
1. Print the green value of the pixel in the second row, first column
2. Change the blue value of the pixel in the first row, second column
3. Print the updated matrix

In [7]:
matrix = [
    [[255, 0, 0], [0, 255, 0], [0, 0, 255]],     # first row
    [[125, 125, 0], [50, 100, 150], [200, 200, 200]],  # second row
    [[0, 0, 0], [255, 255, 255], [123, 45, 67]]  # third row
]


print(matrix[1][0][1])


matrix[0][1][2] = 128


print(matrix)

125
[[[255, 0, 0], [0, 255, 128], [0, 0, 255]], [[125, 125, 0], [50, 100, 150], [200, 200, 200]], [[0, 0, 0], [255, 255, 255], [123, 45, 67]]]

#### 4. Tuples

You have tuples representing the opening and closing prices of a stock on three days:

In [8]:
day1 = (135.5, 137.0)  # (opening price, closing price)
day2 = (136.0, 135.0)
day3 = (134.5, 136.5)

1. Unpack the opening and closing prices from each day and print statements like:
"Day 1 opened at 135.5 and closed at 137.0."

2. Create a tuple containing the daily price differences (closing - opening) for each day.

3. Calculate the total price change over the three days by summing these differences.

4. Create a new tuple adding day 4’s prices (137.5, 138.0) to the existing data.

In [9]:
open1, close1 = day1
open2, close2 = day2
open3, close3 = day3

print(f"Day 1 opened at {open1} and closed at {close1}.")
print(f"Day 2 opened at {open2} and closed at {close2}.")
print(f"Day 3 opened at {open3} and closed at {close3}.")

diffs = (close1 - open1, close2 - open2, close3 - open3)

total_change = diffs[0] + diffs[1] + diffs[2]

print(f"Total price change over 3 days: {total_change}")

day4 = (137.5, 138.0)
all_days = (day1, day2, day3, day4)

print(all_days)

Day 1 opened at 135.5 and closed at 137.0.
Day 2 opened at 136.0 and closed at 135.0.
Day 3 opened at 134.5 and closed at 136.5.
Total price change over 3 days: 2.5
((135.5, 137.0), (136.0, 135.0), (134.5, 136.5), (137.5, 138.0))

#### 5. Sets

Create two sets:

In [11]:
observed_morning = {"sparrow", "robin", "finch"}
observed_afternoon = {"finch", "cardinal", "robin"}

1. Print all the birds observed in the day.

2. Print the birds that were observed in both the morning and evening. 

3. Print only the species observed in the morning.

4. Add a blue jay to the observed birds in the morning

5. Remove robin from the birds observed in the afternoon

6. Check if cardinal was observed in the morning

In [12]:
print(observed_morning | observed_afternoon)
print(observed_morning & observed_afternoon)
print(observed_morning - observed_afternoon)

observed_morning.add("blue jay")
observed_afternoon.remove("robin")

print(bool(observed_morning and {"cardinal"}))

{'robin', 'finch', 'sparrow', 'cardinal'}
{'robin', 'finch'}
{'sparrow'}
True

#### 6. Dictionaries

Create a dictionary called book, which contains the title, author and year of your favourite book. 

Then:

1. Print the author's name

2. Add a new key "Checked out" and set it to a boolean

3. Change the year to this year, there's been a reprint

4. Print all the keys and values in an f-string

5. Now with your book dictionry, make a nested library dictionary where your book is one of 3 books (with 2 other books of your choice). Each book is identified with a barcode number. 

6. Using the library nested dictionary, print the author and title of each book, and if it's checked out.

7. Add a genre catagory for each book, with multiple genres contained in a list

8. Someone stole a book, remove the second book for your library.

In [14]:
# 1. Create book dictionary
book1 = {
    "title": "1984",
    "author": "George Orwell",
    "year": 1949
}

# 2. Print author's name
print(book1["author"])

# 3. Add "Checked out" key
book1["Checked out"] = False

# 4. Change year to current year (2025)
book1["year"] = 2025

# 5. Print all keys and values with f-string
print(f"Title: {book1['title']}, Author: {book1['author']}, Year: {book1['year']}, Checked out: {book1['Checked out']}")

# 6. Create nested library dictionary with 3 books
book2 = {
    "title": "Pride and Prejudice",
    "author": "Jane Austen",
    "year": 1813,
    "Checked out": True
}

book3 = {
    "title": "The Hobbit",
    "author": "J.R.R. Tolkien",
    "year": 1937,
    "Checked out": False
}

library = {
    "B001": book1,
    "B002": book2,
    "B003": book3
}

# 7. Print author, title and checked out status for each book
print(f"{library['B001']['author']} - {library['B001']['title']} (Checked out: {library['B001']['Checked out']})")
print(f"{library['B002']['author']} - {library['B002']['title']} (Checked out: {library['B002']['Checked out']})")
print(f"{library['B003']['author']} - {library['B003']['title']} (Checked out: {library['B003']['Checked out']})")

# 8. Add genre list to each book
library["B001"]["genre"] = ["Dystopian", "Political Fiction"]
library["B002"]["genre"] = ["Romance", "Classic"]
library["B003"]["genre"] = ["Fantasy", "Adventure"]

# 9. Remove second book (B002)
library.pop("B002")

George Orwell
Title: 1984, Author: George Orwell, Year: 2025, Checked out: False
George Orwell - 1984 (Checked out: False)
Jane Austen - Pride and Prejudice (Checked out: True)
J.R.R. Tolkien - The Hobbit (Checked out: False)

{'title': 'Pride and Prejudice',
 'author': 'Jane Austen',
 'year': 1813,
 'Checked out': True,
 'genre': ['Romance', 'Classic']}

#### 7. Converting and manipulating collections

You're given information about a company in various collection formats

In [15]:
employees = [("Anna", "Sales"), ("Ben", "IT"), ("Cara", "Sales")]

departments = {"Sales", "IT", "HR"}

dept_employees = {
    "Sales": ["Anna", "Cara"],
    "IT": ["Ben"],
    "HR": []
}

1. Create a tuple of all employee names from the employees list.

2. Convert that tuple of names into a set to get unique employee names.

3. Add a new employee `("David", "HR")` to employees list, the names tuple, the unique names set, and update `dept_employees` accordingly (add "David" to "HR" list).

4. Remove `"Cara"` from employees list, names tuple, unique names set, and update `dept_employees` (remove from "Sales").

5. Print the length of `employees` list.

In [16]:
employees = [("Anna", "Sales"), ("Ben", "IT"), ("Cara", "Sales")]
departments = {"Sales", "IT", "HR"}
dept_employees = {
    "Sales": ["Anna", "Cara"],
    "IT": ["Ben"],
    "HR": []
}

# 1. Create a tuple of all employee names
names = (employees[0][0], employees[1][0], employees[2][0])

# 2. Convert that tuple into a set
unique_names = set(names)

# 3. Add new employee David
employees.append(("David", "HR"))
names = names + ("David",)
unique_names = unique_names | {"David"}
dept_employees["HR"].append("David")

# 4. Remove Cara
employees.remove(("Cara", "Sales"))
names = (names[0], names[1], names[3])  # remove Cara (index 2)
unique_names = unique_names - {"Cara"}
dept_employees["Sales"].remove("Cara")

# 5. Print length of employees
print(len(employees))

3